# Build dir
build
doc/source/modules

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# IDE settings
.vscode
.idea

# Python stuff
venv
__pycache__
*.pyc

# Docker files
.env

# Compiled i18n messages
**/translations/**/*.mo

# Extracted i18n templates
**/translations/**/*.pot
