# Build dir
build

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# IDE settings
.vscode
.idea

# todo: doplnit ostatne IDE subory

# Python stuff
venv
__pycache__

# Docker files
.env
